<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<title>CRMTest</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
<meta name="robots" content="NONE,NOARCHIVE" />

    <script>
        function displayDate()
        {
            document.getElementById("demo").innerHTML=Date();
        }
    </script>

</head>

<body class=" dashboard"
  data-admin-utc-offset="28800">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/admin/">CRMTest</a></h1>
        </div>

        <div id="user-tools">
                Welcome,
                <strong>admin</strong>.

                    <a href="/">View site</a> /

                <a href="/admin/password_change/">Change password</a> /

                <a href="/admin/logout/">Log out</a>

        </div>



    </div>
    <!-- END Header -->

    <!-- block -->
    {% block mainbody %}
        <p> 基础模版可被继承替换部分 </p>
    {% endblock %}
    <!-- END block -->


    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>